*{
    padding: 0;
    box-sizing: border-box;
    border: none;
}

input[type='file']{
    display: none;
}

.max-width{
    max-width: 120px;
    width: auto;
    
}






#imgAvatar{
    
    margin-left: 350%;
    max-width: 120px;
    height: 110px;
    width: 100%;
    padding: 2px;
    background-color: #eee;
    border: 1px solid #111;   
    cursor: pointer;
    transition: background .3;
}

#imgAvatar:hover{
    background-color: #111;
}