@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 300;
    src:url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}

body {
    background: linear-gradient(
        to right,
        #3779AE 0%,
        #3779AE 25%,
        #8FC5C3 25%,
        #8FC5C3 50%,
        #eee 50%,
        #eee 100%
    );
    padding: 50px;
}
.navbar-border {
    border: 2px solid;
    background-color: #D9D9D9;
}


.login-container {
    position: fixed;
    left: 24.5%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 430px;
    width: 340px;
    background-color: #BDBDBD;
    border-radius: 10px;
    padding: 20px;
    border: 3px solid;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.overlay-container {
    position: relative;
}

.custom-input:focus {
    box-shadow: none;
}

.custom-bg-input {
    border: none;
    padding: 22px;
    background-color: rgba(255, 255, 255, 0.8);
}

.text-center{
    font-size: 30px;
}

.fonte_do_input_encima {
    font-family: "Open Sans Light";
    font-size: 15px;
}

.lembrar{
    font-size: 12px;
}

.btn{
    width: 100%;
}

.error-message {
    color: red;
    font-size: 14px;
}

.logo {
    left: 75%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}

.esqueceu-senha{
    font-size: 13px;
    text-align: center;
}