<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Professores</title>
    <link rel="icon" href="/static/imagens/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/navbar.css">
</head>
<body>
    <nav class="fixed-top">
        <div class="dropdown">
            <img src="https://cdn-icons-png.flaticon.com/128/7666/7666148.png" alt="menu" id="menu" class="dropdown" data-bs-toggle="dropdown">
                <div class="dropdown-menu">
                    <h2 class="dropdown-header">Usuário</h2>
                    <a href="#" class="dropdown-item">Dados Gerais</a>
                    <a href="#" class="dropdown-item">Sair</a>
                    <hr class="dropdown-divider">
                    <h2 class="dropdown-header">Sobre o sistema</h2>
                    <a href="#" class="dropdown-item">Esqueceu senha ?</a>
                    <a href="#" class="dropdown-item">Dúvidas sobre o sistema</a>
                </div>
        </div>
        <div>
            <span id="nome_escola" > ECIT ENEAS</span> 
            <img src="/static/imagens/logo-removebg-preview.png" alt="logo" id="logo" >
        </div>
    </nav>

    <div class="container my-4">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th> Nome do Usuário: </th>
                    <th> idade</th>
                    <th> Tipo de Usuário</th>
                </tr>
            </thead>

        </table>


    </div>
    <script src="/static/js/informacoes-aluno.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>    
</body>
</html>