<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="icon" href="/static/imagens/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/Login.css">
  <link rel="stylesheet" href="/static/css/navbar.css">
</head>
<body>
  <div class="overlay-container">
    <div class="row justify-content-center">
      <div class="col-6 col-md-4 login-container custom-container">
        <div class="center-content">
          <h4 class="text-center mb-4">Login</h4>


          <form action="{{url_for('login')}}" method="post" id="loginForm">
            {{form.csrf_token}}
            <div class="form-group">
              <label class="fonte_do_input_encima" for="matricula">Matricula:</label>
              <input type="text" class="form-control custom-input custom-bg-input" id="username" placeholder="Digite sua matricula" name="matricula">
            </div>
            <div class="form-group">
              <label class="fonte_do_input_encima" for="senha">Senha:</label>
              <input type="password" class="form-control custom-input custom-bg-input" id="password" placeholder="Digite sua senha" name="senha">
            </div>
            <div>
              <label class="lembrar">
                <input id="lembrar" type="checkbox" value="remember-me">
                Lembre de mim
              </label>
            </div>
            <button type="submit" class="btn btn-success" onclick="salvarCredenciais()" disabled>Entrar</button>
            <div class="esqueceu-senha">
              <a href="{{url_for('reset_senha')}}"> Esqueceu sua senha? </a> <!-- Parte onde o usuário poderá trocar de senha caso tenha esquecido, refazer rota  -->
            </div>
          </form>


          <div id="errorMessage" class="error-message"> 
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
              {% endif %}
            
            {% endwith %}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="logo">
    <img src="/static/imagens/logo-removebg-preview.png" alt="logo"> <!-- Parte onde se encontra a logo principal -->
  </div>
  <nav class="nav-position fixed-top">
    <div class="dropdown">
        <img src="https://cdn-icons-png.flaticon.com/128/7666/7666148.png" alt="menu" id="menu" class="dropdown" data-bs-toggle ='dropdown'>
          <div class="dropdown-menu">
            <h3 class="dropdown-header">Entre em Contato Conosco</h3>
            <hr class="dropdown-divide">
            <p class="dropdown-item">Fone:(83) 98639-8886</p>
            <a href="https://www.instagram.com/ecitecnews/" target="_blank" class="dropdown-item">Instagram</a>
            

          </div>
    </div>
    
    <div>
        <span id="nome_escola"> ECIT ENEAS</span> 
        <img class="ms-3" style = "" src="/static/imagens/logo1.png" alt="logo" id="logo" >
    </div>
</nav>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
  <!-- js -->
  <script src="/static/js/salvar-credenciais.js"></script>
  <script src="/static/js/botao-login.js"></script>

</body>
</html>
